# PostgreSQL container (docker-compose -> pg service)
PG_NAME=campus
PG_USER=campus
PG_PASSWORD=campus

# App runtime
APP__RUN__HOST=0.0.0.0
APP__RUN__PORT=8000

# Database
APP__DB__DRIVERNAME=postgresql+asyncpg
APP__DB__HOST=pg
APP__DB__PORT=5432
APP__DB__NAME=campus
APP__DB__USER=campus
APP__DB__PASSWORD=campus
