# PostgreSQL container (docker-compose -> pg service)
PG_NAME=campus
PG_USER=campus
PG_PASSWORD=campus

# App runtime
APP__RUN__HOST=0.0.0.0
APP__RUN__PORT=8000
APP__APP_URL=http://127.0.0.1:8000

# Gunicorn
APP__GUNICORN__HOST=0.0.0.0
APP__GUNICORN__PORT=8000
APP__GUNICORN__WORKERS=1

# S3-compatible storage (docker-compose -> minio service)
APP__AWS__ACCESS_KEY=campus
APP__AWS__SECRET_KEY=campus-secret
APP__AWS__ENDPOINT_URL=http://localhost:9000
APP__AWS__REGION_NAME=us-east-1
APP__AWS__BUCKET_NAME=campus
APP__AWS__DOMAIN=http://localhost:9000/campus
APP__AWS__FOLDER=uploads
APP__AWS__USE_PATH_STYLE=true
APP__AWS__MAX_IMAGE_SIZE_BYTES=5242880
APP__AWS__IMAGE_WHITE_LIST=["jpg","jpeg","png","webp"]

# Database
APP__DB__DRIVERNAME=postgresql+asyncpg
APP__DB__HOST=localhost
APP__DB__PORT=5432
APP__DB__NAME=campus
APP__DB__USER=campus
APP__DB__PASSWORD=campus

# RBAC
APP__RBAC__INITIAL_SUBJECTS=["auth","users","monitoring"]
APP__RBAC__INITIAL_ACTIONS=["me","login","register","refresh","logout","change_password","quit_all","verify","resend_verification","forgot_password","reset_password","update_roles","health"]
APP__RBAC__INITIAL_PERMISSION_SCHEMA={"admin":["*"],"public":["auth:login","auth:register","auth:refresh","auth:verify","auth:forgot_password","auth:reset_password","monitoring:health"],"user":["auth:me","auth:logout","auth:change_password","auth:quit_all","auth:resend_verification"]}
APP__RBAC__ADMIN_EMAIL=admin@example.com
APP__RBAC__ADMIN_PASSWORD=change_me_please
APP__RBAC__PUBLIC_ROLE_NAME=public
APP__RBAC__ADMIN_ROLE_NAME=admin
